body {
    background: url('../images/backgroundimg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }


.banner{
    width: 700px;
    height: 300px;  
}

.picture{
    width: 700px;
    height: 300px;
}

.content{
    width: 700px;
    padding: 25px;
}

.vid1{
    width: 300px;
    margin: 25px;
}
.vid2{
    float: right;
    width: 300px;
    margin: 25px;
    
}

.overlay{
    position: absolute;
    width: 700px;
    height: 300px;
    top: 300px;
}

.image{
    width: 425px;
    height: 300px;
}
.text{
    size: 10px;
}